<!doctype html>
<html lang="zh-CN">
<head>
    <!-- set charset, you can use any language like English japanese -->
    <meta charset="utf-8">
    <title>'First html'</title>
    <meta name="author" content="Chris Mills" />
    <meta
        name="description"
        content="The MDN Web Docs Learning Area aims to provide
        complete beginners to the Web with all they need to know to get
        started with developing web sites and applications." />
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <a href="https://github.com/paxzhu" title="@paxzhu" target="_blank">Go to paxzhu's git repo</a>
    <p>Japanese example: ご飯が熱い。</p>
    <p>Japanese example: <span lang="zh-CN">ご飯が熱い。</span>.</p>
    <h1 id="the war">三国演义</h1>
    <p>crnvtertr </p>
    <img src="https://html.sammy-codes.com/images/small-profile.jpeg" style="border: 10px solid green"/>
    <div class="container">
    <span class="subtitle">这是顶级标题吗？</span>
    <ol>
        <li>bean</li>
        <li>油条</li>
        <li>豆汁</li>
        <li>焦圈</li>
        </ol>
    </div>
    <a href="#the war">to the book</a>
    <address>
        由 <a href="../authors/chris-mills/">Chris Mills</a> 编写的页面。
      </address>
    <time datetime="2023-04-17">Apr 17 2023</time>      
</body>
</html>